body {
  text-align: center;
  /*background-image: url("../images/myUsual-bkgd.jpg");*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

h2{

  font-size: 40px;
  /*color: white;*/
}

.list-group-item{
  /*color: white;*/
}
#list-title{
  text-align: center;
}
#list-content{
  text-align: center;
}
#row1{

}
#foodstoresubmit{
  display: inline-block;
  width: 150px;
  text-align: left;
}
#foodstoresubmit p input{
  margin-right: 20px;
}
#input-button{
  background-color: red;
  color: white;
  border-radius: 5px;
}

#welcome{

  /*color: white;*/
  font-size: 40px;
  padding-top: 40px;
  font-weight: bold;
}

#blank{
  display: block;
  position: relative;
  width: 600px;
  height: 125px;
}

#home{
  margin:auto;
  text-align: center;
  width: 600px;
  height: 250px;
  background-color: grey;
  border-radius: 20px;
  background:rgba(255,255,255,0.2);
}

#logout{

  margin-top: 1px;
  margin-right: 2px;
  position:absolute;
  top:0;
  right:0;
  color: black;
  float: right;
}

#lists {

  background:rgba(255,255,255,0.1);
  text-align: left;
}

#button{
  text-align: center;
  padding-top: 25px;
}

#title{

  font-weight: bolder;
  text-align: center;
}

#food-lists{
  text-align: center;
}

#logout{
  display: inline-block;
  align: right;
}
