.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.row-eq-height div{
    background-color: white;
}
#logo{

}

#nav{
  margin-bottom: 0;
  /*background: rgba(255,255,255,0.5);*/
  background-color: rgba(255,255,255,.1);
}

body {
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

h2{
  font-size: 40px;
  /*color: white;*/
}

.list-group-item{
  /*color: white;*/
}
#list-title{
  text-align: center;
  color: #13487A;
}

#header-color{
  color: #13487A;
}
#list-content-items{
  text-align: left;
}

#input-button{
  background: #13487A;
  color: white;
  border-radius: 5px;
}

#welcome{
  /*color: white;*/
  font-size: 40px;
  padding-top: 40px;
  font-weight: bold;
}

#blank{
  display: block;
  position: relative;
  width: 600px;
  height: 125px;
}

/*#home{
  margin:auto;
  text-align: center;
  width: 600px;
  height: 250px;
  background-color: grey;
  border-radius: 20px;
  background:rgba(255,255,255,0.2);
}*/

#logout{

  margin-top: 1px;
  margin-right: 2px;
  position:absolute;
  top:0;
  right:0;
  color: black;
  float: right;
}

#lists {

  background:rgba(255,255,255,0.1);
  text-align: left;
}

#button{
  text-align: center;
  padding-top: 25px;
}

#title{
  color: #43ABEA;
  font-weight: bolder;
  text-align: center;
}

#btn-login{
  background: #43ABEA;
}

#listsubmit{
  background: #43ABEA;
}

#fooditemsubmit{
  background: #43ABEA;
}

#food-lists{
  text-align: center;
}

#logout{
  display: inline-block;
  align: right;
}
