body {
  text-align: center;
  background-image: url("../images/myUsual-bkgd.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1{

  font-family: Helvetica;
  color: white;
  font-size: 40px;
  padding-top: 40px;

  font-weight: bold;
}

h2{
  font-family: Helvetica;
  font-size: 40px;
  color: white;
}

.list-group-item{

  /*color: white;*/
}

#blank{
  display: block;
  position: relative;
  width: 600px;
  height: 125px;
}

#home{
  position: relative;;
  display: inline-block;
  width: 600px;
  height: 250px;
  background-color: grey;
  border-radius: 20px;
  background:rgba(255,255,255,0.2);

}


#logout{
  background-color: red;
  color: white;
}

#lists {
    background:rgba(255,255,255,0.1);
    font-family: Helvetica;
    /*display: block;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40%;*/
    text-align: left;
    /*display: flex;*/


}

#button{
  text-align: center;
  padding-top: 25px;
}

#title{
  text-align: center;
}

#food-lists{
  text-align: center;
}

#user-logout{
  text-align: right;
  padding-bottom: 80px;
}

li {
list-style-type: none;
}
